<h2 mat-dialog-title>Rate Your Order</h2>
<mat-dialog-content>

  <div class="rating-field">
    <p>Food Quality & Taste</p>
    <mat-radio-group [(ngModel)]="feedback.foodRating">
      <mat-radio-button *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{ star }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="rating-field">
    <p>Delivery Time</p>
    <mat-radio-group [(ngModel)]="feedback.deliveryTimeRating">
      <mat-radio-button *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{ star }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="rating-field">
    <p>Driver Professionalism</p>
    <mat-radio-group [(ngModel)]="feedback.deliveryDriverRating">
      <mat-radio-button *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{ star }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field appearance="outline" class="comment-field">
    <mat-label>Comments</mat-label>
    <textarea matInput [(ngModel)]="feedback.comments" rows="3"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="submitFeedback()">Submit</button>
</mat-dialog-actions>
