<div class="hero-container">
    <div class="text-content">
      <div class="text-content-section">
        <p class="h1">Craving Something Delicious?</p>
      <p class="h2"> We've Got You Covered!!! </p>
      <p class="description">Order from your favorite restaurants and get your meal delivered fresh and fast, right to your doorstep.</p>

      </div>
            <div class="cards-section">
        <mat-card class="card" (click)="viewMenuByCuisine('indian')">
          <img mat-card-image src="../../../assets/indian.jpg" alt="Indian Cuisine" />
          <mat-card-content>
            <h3>Indian</h3>
            <p>Authentic spices and flavors</p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card" (click)="viewMenuByCuisine('italian')">
          <img mat-card-image src="../../../assets/italian.webp" alt="Italian Cuisine" />
          <mat-card-content>
            <h3>Italian</h3>
            <p>Delicious pastas and pizzas</p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card" (click)="viewMenuByCuisine('chinese')">
          <img mat-card-image src="../../../assets/chinese.webp" alt="Chinese Cuisine" />
          <mat-card-content>
            <h3>Chinese</h3>
            <p>Savory stir-fry and noodles</p>
          </mat-card-content>
        </mat-card>
      </div>
      
    </div>
    <div class="image-container">
      <img src="../../../assets/grayblue.jpg" alt="Gray Texture" class="half-circle">
      <img src="../../../assets/foodbowl.jpeg" alt="Food Bowl" class="food-bowl">
    </div>
</div>

<!-- <div class="cards-section">
  <mat-card class="card" (click)="viewMenuByCuisine('indian')">
    <img mat-card-image src="../../../assets/indian.jpg" alt="Indian Cuisine" />
    <mat-card-content>
      <h3>Indian</h3>
      <p>Authentic spices and flavors</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click)="viewMenuByCuisine('italian')">
    <img mat-card-image src="../../../assets/italian.webp" alt="Italian Cuisine" />
    <mat-card-content>
      <h3>Italian</h3>
      <p>Delicious pastas and pizzas</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click)="viewMenuByCuisine('chinese')">
    <img mat-card-image src="../../../assets/chinese.webp" alt="Chinese Cuisine" />
    <mat-card-content>
      <h3>Chinese</h3>
      <p>Savory stir-fry and noodles</p>
    </mat-card-content>
  </mat-card>
</div> -->
